<!-- <div class="login">
  <form>
    <div class="input-group p-3">
      <input type="text" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form-control make-smaller"
        placeholder="Email" aria-label="Email">
    </div>
    <div class="input-group p-3">
      <input type="text" [(ngModel)]="pass" [ngModelOptions]="{standalone: true}" class="form-control make-smaller"
        placeholder="Password" aria-label="Password">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" (click)="login()" class="btn btn-primary">Login</button>
</div> -->


<div class="container">
    <h1>Login</h1>
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            Account Information
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="account_name">
                Email
              </label>
              <input type="text" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form-control"
        placeholder="Email" aria-label="Email">
            </div>
            <div class="form-group">
              <label for="account_password">
                Password
              </label>
              <input type="text" [(ngModel)]="pass" [ngModelOptions]="{standalone: true}" class="form-control"
        placeholder="Password" aria-label="Password">
            </div>
          </div>
        </div>
        <br />
        <button class="btn btn-lg btn-success btn-block" type="button" (click)="login()">
          Login
        </button>
      </div>
    </div>
  </div>


  <span class="border border-primary">
    <div id="login-forms" class="d-flex justify-content-center">
      <form [formGroup]="form" (ngSubmit)="login()">
        <div class="form-group">
          <label for="email" style="font-family:Nunito" class="form-field-labels">Email</label>
          <input type="text" formControlName="email" class="form-control" />
        </div>
        <div class="text-danger" *ngIf="loginFailed">Incorrect Username and/or Password</div>
        <div class="form-group">
          <label for="password" style="font-family:Nunito" class="form-field-labels">Password</label>
          <input type="password" formControlName="password" class="form-control" />
        </div>
        <div class="d-flex justify-content-center">
          <div class="form-group">
            <button class="btn btn-medium btn-blue btn-radius" style="font-family:Nunito" id="btn-login" [disabled]="form.invalid">Login</button>
          </div>
        </div>
      </form>
    </div>
  </span>
