<div class="background">
<h2 >Welcome to Anchor Management</h2>
  <div class="container col-md-6">
      <div id="username" class="form-group">
        <label for="account_name">Email</label>
        <input type="text" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form-control form-control-lg" placeholder="Email" aria-label="Email">
      </div>
      <div id="password" class="form-group">
        <label for="account_password">Password</label>
        <input type="text" [(ngModel)]="pass" [ngModelOptions]="{standalone: true}" class="form-control form-control-lg" placeholder="Password" aria-label="Password">
      </div>
      <div class="col-md-8">
        <button class="btn btn-success btn-block " type="button" (click)="login()">Login</button>
      </div>
    </div>
</div>


