<app-navbar></app-navbar>
<div>
  <h1 class="text-center mt-4" *ngIf="!equipLoaded && !vehicleLoaded && !storiesLoaded && !expertLoaded">Please select a reservation.</h1>

  <div class="row justify-content-center mt-3">
    <button class="btn btn-add" (click)="loadExpertCalendar()">Experts</button>
    <button class="btn btn-add ml-2" (click)="loadVehicleCalendar()" >Vehicles</button>
    <button class="btn btn-add ml-2" (click)="loadEquipmentCalendar()">Equipment</button>
    <button class="btn btn-add ml-2" (click)="loadStoriesCalendar()">Stories</button>
  </div>

  <div class="container justify-content-center">
    <app-vehicle-calendar *ngIf="vehicleLoaded" [anchor]='anchor'></app-vehicle-calendar>
    <app-equip-calendar *ngIf="equipLoaded" [anchor]='anchor'></app-equip-calendar>
    <app-stories-calendar *ngIf="storiesLoaded" [anchor]='anchor'></app-stories-calendar>
    <app-expert-table *ngIf="expertLoaded" [anchor]='anchor'></app-expert-table>
  </div>
</div>
