<app-navbar></app-navbar>
<!-- Make overlay only behind welcome text -->
    <div class="overlay"></div>
<div id="everything">
    <br><br><br>
    <div class="container">
      <h1 class="text-center text-white">Welcome to AnchorManagement!</h1>
      <br><br><br>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
          <div class="text-center">
            <button class="btn-lg btn-outline-light text-center" [routerLink]="['/login']">Login</button>
          </div>
          </div>

        <div class="col-md-3">
          <div class="text-center">
              <button class="btn-lg btn-outline-light" [routerLink]="['/register']">Create Account</button>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>


<!-- <nav class="nav navbar">
  <div class="nav navbar">
    <a class="nav-brand" href="#">WeatherBuddy</a>
    <a class="nav-link" id="navbuttons" href="#">FAQ</a>
    <a class="nav-link" id="navbuttons" href="#">Contact</a>
    <a class="nav-link" id="navbuttons" href="/login">Login</a>
    <a class="nav-link" id="navbuttons" href="/login">Create Account</a>
  </div>
</nav> -->

<!-- </div> -->
