.background{
  
    background-color: #52658F;
    height: 100%;
    
}

h1{
  color: darkgray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#username{
  padding-left: 200px;
  font-size: 24px;
}
