.overlay {
    background: black;
    position: absolute;
    opacity: 0.4;
    width: 100vw;
    z-index: 1;
    height: 100vh;
  }
  #blueHomeCenter {
    background-image: url("../../assets/earth.jpg");
    height: 100vh;
    background-size: cover;
  }

   h4, th, td, h1 {
      color: #FFFFFF;
      position: relative;
      z-index: 10;
  }

  h2{
    padding-top: 30px;
    padding-left: 100px;
  }

  h1{
    color: black;
  }

#username{
  padding-left: 200px;
  font-size: 24px;
}
