<div *ngIf="myStories">
    <br />
    <br/>
    <button [routerLink]="['/manageStories', anchor.userID]" id="man-btn" class="btn btn-primary mb-2 float-left">Manage Stories</button>
    <br/>
    <br/>
    <div *ngFor="let story of myStories; let i = index">
      <br/>
      <app-story class="mt-5" [anchor]='anchor' [story]="story"></app-story>
      <button class="btn btn-secondary w-75 mt-2 text-center" (click)="markDone(i)">Mark Story As Done</button>
    </div>


    <div class="container text-white">
      <div [ngSwitch]="myStories?.length">
        <hr/>
        <div *ngSwitchCase=0><h2 class="lead" >No stories claimed.</h2></div>
      </div>
    </div>

</div>
