<!-- <app-navbar></app-navbar>
<app-welcome></app-welcome> -->
<br />
<br/>
<button [routerLink]="['/manageStories', anchor.userID]" id="man-btn" class="btn btn-primarymb-2">Manage Stories</button>
<br/>
<br/>
<div *ngFor="let story of myStories; let i = index">
  <app-story [anchor]='anchor' [story]="story"></app-story>
  <button class="btn btn-danger" (click)="markDone(i)">WE B-O-O-L-I-N</button>
</div>


<div class="container text-white" style="height:800px;">
  <div [ngSwitch]="myStories?.length">
    <hr/>
    <div *ngSwitchCase=0><h2 class="lead" >No stories claimed.</h2></div>
  </div>
</div>

