<div class="d-flex flex-column" *ngIf="myStories">
    <button [routerLink]="['/manageStories', anchor.userID]" id="man-btn" class="btn mb-2 float-left">Manage Stories</button>
    <div  *ngFor="let story of myStories; let i = index">
      <app-story class="mt-5" [anchor]='anchor' [story]="story"></app-story>
      <button class="btn btn-block text-center" id="done-btn" (click)="markDone(i)">Mark Story As Done</button>
    </div>


    <div class="container">
      <div [ngSwitch]="myStories?.length">
        <div *ngSwitchCase=0><h2 class="lead mt-4" >No stories claimed. Click the button above to see available stories.</h2></div>
      </div>
    </div>

</div>
