 <div class="container-fluid m-2" *ngIf="vehicles && experts && equipment">
  <div ng-app="flip" ng-controller="flipCtrl">
    <div class="flip">
      <div class="card" ng-class="{'flipped':isFlipped}" (click)="onClick()">
        <div class="face front">
            <img src="./assets/blue_card.jpeg">
            <div class="card-body">
              <h2>Title</h2>
              
            </div>
        </div>
        <div class="face back">
                <div class="card-header clearfix">
                  <h5 class="card-title mt-2"> {{story.storyTopic}} </h5>
                </div>
                <div class="card-body">
                  <div class="row">
                    <p class="card-text p-3"> {{story.storyDate}}</p>
                  </div>
                <div class="row">
                  <p class="card-text p-3"> {{story.startTime}} - {{story.endTime}}</p>
                </div>
                <div class="row">
                  <p class="card-text p-3"> {{story.description}}</p>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="card mt-4" style="width: 18rem;">
                      <div class="card-header">
                        Vehicles
                        <button type="button" class="btn btn-primary float-right" [routerLink]="['/manageVehicles', story.storyID]">Edit</button>
                      </div>
                      <div *ngIf="vehicles.length">
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item" *ngFor="let vehicle of vehicles">{{ vehicle.vehicleName }} </li>
                        </ul>
                      </div>
                      <div *ngIf="!vehicles.length">
                        <p>There are no vehicles for this story.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card mt-4" style="width: 18rem;">
                      <div class="card-header">
                        Experts
                        <button type="button" class="btn btn-primary float-right" [routerLink]="['/manageExperts', story.storyID]">Edit</button>
                      </div>
                      <div *ngIf="experts.length">
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item" *ngFor="let expert of experts">
                            {{ expert.expertName }}
                          </li>
                        </ul>
                      </div>
                      <div *ngIf="!experts.length">
                        <p>There are no experts for this story.</p>
                      </div>
                    </div>
                  </div>
              <div class="col-md-4">
              <div class="card mt-4" style="width: 18rem;">
                <div class="card-header">
                  Equipment
                  <button type="button" class="btn btn-primary float-right" [routerLink]="['/manageEquipment', story.storyID]">Edit</button>
                </div>
                <div *ngIf="equipment.length">
                  <ul class="list-group list-group-flush ">
                    <li class="list-group-item d-inline" *ngFor="let equip of equipment">{{ equip.equipName }} </li>

                  </ul>
                </div>
                <div *ngIf="!equipment.length">
                  <p>There is no equipment for this story.</p>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
