<h2> Rental</h2>

<div class="topnav">
        <a class="active" href="#home">Holder</a>
        <a href="#about">Holder</a>
        <form>
            <input type="text" placeholder="Search..">
        </form>
</div>
<div class="filter">
                    
        <a class=" dropdown-toggle"  id="dropdownMenu2" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">Equipment</a>


        <!--Menu-->
        <div class="dropdown-menu dropdown-primary">
        <a class="dropdown-item" href="#">Item#1</a>
        <a class="dropdown-item" href="#">Item#2</a>
        <a class="dropdown-item" href="#">Item#3</a>
        <a class="dropdown-item" href="#">Item#4</a>
        </div>

        <a class=" dropdown-toggle"  id="dropdownMenu2" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">Vechicles</a>


        <!--Menu-->
        <div class="dropdown-menu dropdown-primary">
            <a class="dropdown-item" href="#">Item#1</a>
            <a class="dropdown-item" href="#">Item#2</a>
            <a class="dropdown-item" href="#">Item#3</a>
            <a class="dropdown-item" href="#">Item#4</a>
        </div>

</div>
<div class="Checkout Table">
    <form id='rental'>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Name</th>
                    <th scope="col">Size</th>
                    <th scope="col">Availabilty</th>
                </tr>
            </thead>
            <tbody>
            </tbody>

        </table>
    </form>
</div>
