<button class="btn btn-primary" [routerLink]="['/manageAnchors', manager.userID]">Manage Anchors</button>
<div *ngIf="manager">
  <div id="accordion">
    <div class="card" *ngFor="let anchor of myAnchors; let i = index;">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <!-- try to use index for index based attributes like data-target  -->
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
            aria-controls="collapseOne">
            {{anchor.userName}}
          </button>
        </h5>
      </div>

      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <app-anchor [anchor]="this.anchor"></app-anchor>
        </div>
      </div>
    </div>

<div class="container text-white" style="height:800px;">
  <div [ngSwitch]="myAnchors?.length">
    <hr/>
    <div *ngSwitchCase=0><h2 class="lead" >No Anchors claimed.</h2></div>
  </div>
</div>