
 <nav class="navbar">
    <a class="navbar-brand very-light-blue" id="title" href="javascript:void(0);" (click)="navToHome()">Anchor Management</a>
    <div class="dropdown show" *ngIf="user" >
        <a class="btn btn-link dropdown-toggle very-light-blue mr-5 pr-5" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ user.userName }}
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="javascript:void(0);" aria-haspopup="true" aria-expanded="false" (click)="navToHome()">Homepage</a>
          <a class="dropdown-item" href="javascript:void(0);" aria-haspopup="true" aria-expanded="false" (click)="navToProfile()">Profile</a>
          <a class="dropdown-item" href="javascript:void(0);" aria-haspopup="true" aria-expanded="false" (click)="navToCal()">Calendar</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" aria-haspopup="true" aria-expanded="false" (click)="logout()">Logout</a>
        </div>
      </div>
  </nav>
